.main-section {
  background: url('resources/images/bg.jpg');
  height: calc(100vh - 5em);
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.results-section {
  height: 95%;
  width: 78%;
  color:#444;
  background: white;
  overflow: scroll;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
}
