header {
  height: 5em;
  background-color: #282c34;
  text-align: left;
  padding: 0 1em;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header img {
  height: 5em;
}

.header-search {
  display: flex;
  width: 40em;
  margin: 0 1em;
}
.header-search h1 {
  margin-right: 1em;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: white;
  color: #4444;
  max-width: 100%;
  height: 97%;
  border: 1px solid #444;
}

.search-form label {
  top: 0;
  font-size: 1.5em;
  padding: 0.5em;
}

.search-form input {
  display: block;
  height: 100%;
  width: 16em;
  padding-left: 0.5em;
  color: gray;
  font-size: 1.5em;
  border: 0;
  box-shadow: none;
  outline: none;
}

.search-form input::-webkit-search-cancel-button {
  display: none;
}
