.item {
  background-color: #ffffff;
  border: 1px solid #444;
}

.title {
  background-color: #f44336;
  padding: 5px;
  height: 5em;
 }

.title h3{
  font-size: 1.1em;
  color: #ffffff;
}

.desc{
  padding: 10px 10px 5px 10px;
}

.desc p{
  margin-bottom: 10px;
}